@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-orange: #F97316;
  --color-brand-peach: #F27141;
  --color-brand-yellow: #FAAC1C;
  --font-sans: 'Poppins', sans-serif;
}